html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

[form="formatter"] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid gray;
}

[form="formatter"] h3 {
    margin: 0;
}

#to-format {
    padding: 1rem;
}

#formatters {
    display: grid;
    grid-template-columns: min-content 1fr;
    border: 1px solid gray;
    padding: 0.5rem;
}

main {
    margin: 1rem 0;
    max-width: 600px;
}

#information h4 {
    margin-bottom: 0;
}