body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.simpleContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.rackContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr min-content;
    gap: 0 0.5rem;
}

.horizontalStretch {
    width: 100%;
}

.vertialStretch {
    height: 100%;
}

.stacked {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.smallGap {
    gap: 0.25rem;
}

.mediumGap {
    gap: 1rem;
}

.largeGap {
    gap: 2rem;
}

input {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid gray;
    outline: none;
}