body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.simple-container {
    display: grid;
    grid-template-columns: 1fr;
}

.rack-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr min-content;
    gap: 0 0.5rem;
}

.horizontal-stretch {
    width: 100%;
}

.vertial-stretch {
    height: 100%;
}

.stacked {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.small-gap {
    gap: 0.25rem;
}

.medium-gap {
    gap: 1rem;
}

.large-gap {
    gap: 2rem;
}

input {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid gray;
    outline: none;
}